:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --black-color: #101828;
    --gray-color: #EAECF0;
}

html{
    font-family: 'Inter', sans-serif;
    font-size: 16px; 
    color: var(--text-color)
}

html a{
    text-decoration: none;
    color: var(--text-color)
}

body{
    width: 90%;
    margin: 0 auto;
}

/* Menu navegação */
.box-navigation{
    height: 80px;    
    display: flex;
    align-items: center;
}

.navbar{
    width: 100%;
    height: 44px;
    font-weight: 500;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    align-items: center;
    column-gap: 10%;
    width: 70%;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.paginas li{
    display: inline;
    margin: 0 16px;
}

.botoes p{
    display: inline;
    margin: 0 10px;
}

.botao-cadastro{
    background-color: var(--main-color);
    border-radius: 7px;
    padding: 10px 17px;
}

.botao-cadastro a{
    color: #FFFFFF;
}

/* Cabeçalho */
.sobre{    
    height: 407px;    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
}

.sobre span{
    color: var(--main-color);
    font-weight: 600;
}

.sobre h1{
    font-size: 48px;
    font-weight: bold;
    color: var(--black-color);
}

.sobre p{
    font-size: 20px;
    width: 70%;
    text-align: center; 
    line-height: 1.6;
}

/* Seção de Métricas e resultados*/
.metricas-container{
    height: 288px;
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
}

.metricas-container div{
    width: 25%;
}

.metricas-container h2{
    font-size: 60px;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 20px;
}

.metricas-container span{
    color: var(--black-color);
    font-weight: 600;
}

.metricas-container p{
    margin-top: 15px;
    line-height: 1.3;
}

/* Seção de vagas abertas */
.vagas {
    text-align: center;
    margin: 96px 0;
}

/* conversão hex para rgb feita em https://www.rapidtables.com/convert/color/hex-to-rgb.html */
.vagas-abertas{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
    padding: 4px 12px;
    display: inline-block;    
    border-radius: 15px;
    color: var(--main-color);
    background-color: rgba(142, 36, 36, 0.05);
}

.vagas h2{
    font-size: 36px;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 20px;
}

.vagas p{
    font-size: 20px;
    font-weight: 400;
}

.vagas img{
    width: 100%; 
    margin: 64px auto;
}

.setor-da-vaga{
    width: 60%;
    margin: 0 auto 64px;
}

.setor-da-vaga h3{
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: var(--black-color);
    margin-bottom: 32px;
}

.card-vaga{
    border: 1px solid var(--gray-color);
    border-radius: 16px;
    padding: 24px 24px 28px;
    margin-bottom: 24px;
    text-align: left;
}

.titulo-vaga{
    font-size: 18px;
    font-weight: 500;
    color: var(--black-color);
    display: block;
    margin-bottom: 32px;
}

.info-vaga span{
    font-weight: 500;
    display: inline-block;
    margin-right: 24px;
}