header{
    height: 80px;
    color: #667085;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

.navbar{
    width: 88%;
    height: 44px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.paginas li{
    display: inline;
    margin: 0 10px;
}

.botoes p{
    display: inline;
    margin: 0 10px;
}

.botao-cadastro{
    background-color: #8E2424;
    color: #FFFFFF;
    border-radius: 7px;
    padding: 10px 17px;
}